.emmet-re-view__item {
	position: relative;
	display: inline-block;
	min-width: 200px;
	background: #fff;
	box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.2);
}

.emmet-re-view__item:not(:first-child) {
	margin-left: 50px;
}

.emmet-re-view__item[data-state="resizing"]::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: block;
	content: '';
}

.emmet-re-view__item-resize-handle {
	position: absolute;
	width: 7px;
	height: 100%;
	right: -7px;
	top: 0;
	cursor: col-resize;
	background: #d25211;
	z-index: 11;
	opacity: 0;
	transition: opacity 0.3s;
	display: none;
}

.emmet-re-view__item-resize-handle::before {
	content: '. . .';
	font-size: 15px;
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #fff;
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0px;
	line-height: 0.6;
	white-space: normal;
	text-align: center;
	margin-top: -0.9em;
}

.emmet-re-view__item:hover .emmet-re-view__item-resize-handle {
	opacity: 1;
}

.emmet-re-view__item-iframe-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.emmet-re-view__item-iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	transform-origin: 0 0;
	opacity: 0;
	transition: opacity 0.5s;
}

.emmet-re-view__reel {
	position: relative;
	padding: 50px;
	box-sizing: border-box;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.emmet-re-view__wall {
	position: absolute;
	left: 0;
	top: 0;
	padding: 50px;
	box-sizing: border-box;
	text-align: justify;
	transform-origin: 0 0;
}

.emmet-re-view__wall::after {
	content: '';
	display: inline-block;
	width: 100%;
}

.emmet-re-view__wall .emmet-re-view__item {
	vertical-align: top;
	margin-bottom: 50px;
}

/* When item is mounted and ready */
.emmet-re-view__item_ready .emmet-re-view__item-resize-handle {
	display: block;
}

.emmet-re-view__item_ready .emmet-re-view__item-iframe {
	opacity: 1;
}