@import "./assets/variables.scss";
@import "./assets/header.scss";
@import "./assets/switcher.scss";
@import "./assets/picker-control.scss";
@import "./assets/picker.scss";
@import "./assets/list.scss";
@import "./assets/button.scss";
@import "./assets/form.scss";
@import "./assets/view.scss";
@import "./assets/reel.scss";
@import "./assets/wall.scss";
@import "./assets/toolbar.scss";
@import "./assets/carbon-ads.scss";
@import "./assets/scroll-override.scss";

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.emmet-re-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #e5e5e5;
    z-index: 9999;
    color: #000;
    font-family: $main-font;

    &__content {
        flex-grow: 1;
        position: relative;
        z-index: 1;
    }

    &__logo {
        @include default-font;
        font-style: normal;
        color: #000;
        display: inline-block;
        font-size: 32px;
        margin: 0 10px 0 0;
        padding: 0;
        white-space: nowrap;

        &-version {
            color: #d4d4d4;
            vertical-align: super;
            font-size: 14px;
            margin-left: -0.3em;
            position: relative;
            top: -0.3em;
        }
    }

    a {
        color: #25907b;

        &:hover {
            color: #20b89a;
        }
    }
}
