.emmet-re-view__carbon {
    width: 330px;
    height: 100px;
    margin: -10px 10px -10px 0;
    overflow: hidden;

    .carbon-img {
        float: left;
        margin-right: 10px;
    }

    .carbon-text {
        font-size: 12px;
        display: block;
        padding: 5px 0;
        line-height: 1.5;
    }

    .carbon-poweredby {
        display: inline-block;
        font-size: 11px;
        font-style: italic;
        color: #a5a5a5;

        &:hover {
            color: darken(#a5a5a5, 20%);
        }
    }
}
