@import "./variables.scss";

.emmet-re-view__donate {
    @include popup(400px, 20px);
    line-height: 1.5;
    animation: re-view-donate-show 0.25s ease-out;

    &-controls {
        text-align: center;
    }

    &-comment {
        font-size: 0.9em;
        text-align: center;
        margin-bottom: 0;
        margin-top: 15px;
        color: #bbb;
    }
}

@keyframes re-view-donate-show {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
