@import "./variables.scss";

.emmet-re-view__picker {
    @include popup;
    display: flex;
    animation: re-view-picker-show 0.25s ease-out;

    &-section {
        width: 50%;
        box-sizing: border-box;
        @include default-font;
        padding: 20px;
        position: relative;

        &-title {
            font-weight: 200;
            color: #000;
            font-size: 24px;
            margin: 0 0 10px;
            text-align: center;
        }

        &-content {
            height: 330px;
            overflow: hidden;
            position: relative;
        }

        .emmet-re-view__list {
            height: 100%;
        }
    }
}

@keyframes re-view-picker-show {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
