@import "./variables.scss";

.emmet-re-view__picker {
    $width: 700px;
    $padding: 0px;

    position: absolute;
    border-radius: 5px;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
    color: #555;
    display: flex;
    width: $width;
    padding: $padding;
    font-size: 13px;
    top: 100%;
    left: 50%;
    margin-left: -$width / 2 - $padding;
    margin-top: 11px;
    animation: re-view-picker-show 0.25s ease-out;

    &-section {
        width: 50%;
        box-sizing: border-box;
        @include default-font;
        padding: 20px;
        position: relative;

        &-title {
            font-weight: 200;
            color: #000;
            font-size: 24px;
            margin: 0 0 10px;
            text-align: center;
        }

        &-content {
            height: 330px;
            overflow: hidden;
            position: relative;
        }

        .emmet-re-view__list {
            height: 100%;
        }
    }
}

@keyframes re-view-picker-show {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
