@import "./variables.scss";

.emmet-re-view__picker-control {
    @include default-font;
    @include toggler;
    border-radius: 15px;
    margin: 0 20px 0 0;
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;

    &_hidden {
        transform: translateX(-30px);
        opacity: 0;
        pointer-events: none;
    }

    &::after {
        content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgPjxnIHN0cm9rZT0iIzk3OTc5NyIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTQgMGw0IDUuNWgtOHoiLz48cGF0aCBkPSJNNCAxNGwtNC01LjVoOHoiLz48L2c+PC9zdmc+Cg==');
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 10px;
    }

    &-label {
        display: inline-block;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
        margin-right: 10px;
    }
}
