$main-font: 'helvetica neue', helvetica, arial, sans-serif;
$main-color: #20b89a;
$main-color-hl: lighten($main-color, 5%);
$header-autohide-offset: -120%;
$ui-transition-time: 0.3s;
$ui-bg-color: rgba(255, 255, 255, 0.9);


@mixin default-font {
    font-family: $main-font;
    font-weight: 200;
}

@mixin toggler {
    background: #fff;
    line-height: 2;
    font-size: 13px;
    padding: 0 15px;
    border: 1px solid #6D6B6B;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;

    &:not([class*='selected']):hover {
        background: #D8FDF6;
    }
}

@mixin popup($width: 700px, $padding: 0) {
    position: absolute;
    border-radius: 5px;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
    color: #555;
    width: $width;
    padding: $padding;
    font-size: 13px;
    top: 100%;
    left: 50%;
    margin-left: -$width / 2 - $padding;
    margin-top: 11px;
}
